/* Page reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, nav {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

/* Header */
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img {
    width: 200px;
}

header nav {
    display: flex;
}

header li a {
    color: #191c03;
}

header li {
    margin: 0 15px;
}

/* Remove the left-hand margin from Home item */
header li:first-child {
    margin-left: 0;
}

/* Removes the right-hand margin from the Contact item. */
header li:last-child {
    margin-right: 0;
}

/* Responsive part @media (condition 01) and (condition 02) and ... of the header, where if a web page has a maximum width of 700px the following properties apply */
@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header img {
        margin-bottom: 15px;
    }
}

.hero {
    background-image: url(../_img/banner.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero .btn {
    background-color: #fff;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 1.5rem;
    }
}

/* Know the hotel */
.know-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.know-hotel h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}

.know-hotel p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}

.know-hotel hr {
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
    border: none;
}

.know-hotel .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.know-hotel .grid li {
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.know-hotel .grid li.small {
    flex-basis: 40%;
}

.know-hotel .grid li.large {
    flex-basis: 60%;
}

@media (max-width: 700px) {
    .know-hotel .grid li.small, .conheca-o-hotel .grid li.large {
        flex-basis: 100%;
    }
}

/* Features */
.features {
    background-color: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.features h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.features p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.features hr {
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none;
}

.features .grid {
    width: 100%;
    display: flex;
}

.features .grid li {
    padding: 0 30px;
    text-align: center;
}

.features .grid li i {
    color: #c3c63b;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.features .grid li h4 {
    font-size: 1.5rem;
    color: #c3c63b;
    margin-bottom: 30px;
}

.features .grid li p {
    color: #fff;
}

@media (max-width: 850px) {
    .features .grid {
        flex-direction: column;
    }
}

/* Newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.newsletter h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: #c3c63b;
    text-align: center;
}

.newsletter p {
    max-width: 800px;
    margin-bottom: 35px;
    color: #c3c63b;
    text-align: center;
}

.newsletter hr {
    width: 200px;
    height: 2px;
    background-color: #c3c63b;
    margin-bottom: 70px;
    border: none;
}

.newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;
}

.newsletter input {
    padding: 15px;
    border: 1px solid #c3c63b;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1; 
}

.newsletter button {
    padding: 15px;
    background-color: #c3c63b;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .newsletter input {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    padding: 40px 0;
    align-items: center;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
}

footer ul li {
    margin-right: 10px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: #c3c63b;
    font-size: 2rem;
}

footer p {
    color: #c3c63b;
    text-align: center;
}

footer p {
    color: #c3c63b;
    text-align: center;
}